#include <iostream>
using namespace std;
bool rect(int a, int b, int c) {
  if (a == b || b == c || c == a) {
    return true;
  } else {
    return false;
  }
}
int main() {
  int a, b, c;
  cin >> a >> b >> c;
  if (rect(a, b, c) == true) {
    cout << "YES" << endl;
  } else {
    cout << "NO" << endl;
  }
  return 0;
}
